CLASS/REACT/React tailwind starter pack/.gitignore
CLASS/REACT/React tailwind starter pack/package-lock.json
CLASS/REACT/React tailwind starter pack/package.json
CLASS/REACT/React tailwind starter pack/postcss.config.js
CLASS/REACT/React tailwind starter pack/README.md
CLASS/REACT/React tailwind starter pack/tailwind.config.js
CLASS/REACT/React tailwind starter pack/public/index.html
CLASS/REACT/React tailwind starter pack/src/App.css
CLASS/REACT/React tailwind starter pack/src/App.js
CLASS/REACT/React tailwind starter pack/src/index.css
CLASS/REACT/React tailwind starter pack/src/index.js