@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}
html{
  scroll-behavior: smooth;
}
:root{
    --bgOrange:#c84949;
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: baseline;  /*content on same line */
}

.logo{
    width: 80px;
}
.nav-items{
    display: flex;
    gap: 2rem;
}
.logo-text{
    margin-left: -1.2rem;
  font-size: 28px;
}
.nav-items{
display: flex;
gap: 2rem;
padding: 0 4em;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    
}
.nav-items div a{
    color: black;
}
a{
    text-decoration: none;
}
.nav-items div:hover{
    transition: all 1s;
    font-weight: bold;
}

/* ----NAVBAR ENDS------ */

/* HERO SECTION */

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.heroFadedText{
  position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);

    bottom: -15%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500 ;
}
.role{
    color: #4e45d5;
    font-weight:800;
}
.subheading{
    font-size: 45px;
    line-height: 45px;
}
.desc{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}
/* button */

.btn {
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    position: relative;
    z-index: 1;
  }
  .btn::before{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.8s ease;
  }
  
  .btn:hover{
    color: black;
    border: solid 3px var(--bgOrange);
    
  }
  
  .btn:hover::before{
    transform: scaleX(1);
  }
  

  /* hero section right */
  
  .hero-section-right{
    position: relative;
  }

  /* user image */
  .user-image{
    padding:1rem; 
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
    
  }

  .user-image img{
    z-index: -9;
    padding: 1rem;
    width:350px;
  }

  @keyframes scaleImage{
    0%{
       filter:grayscale(1);
       transform:scale(1);
    }
    50%{
        filter:grayscale(0);
        transform:scale(1.1);
        box-shadow:3px 3px 8px 1px black;
    }
    100%{
       
        filter:grayscale(1);
        transform:scale(1);
    }

  }

  /* icon animation */
  .absolute{
    position: absolute;
  }
  .icon-dots{
    z-index:9;
    top: 24rem;
    left:15rem;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes dotsAnimation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
    transform: translateY(0px);
}
  }
  .icon-cube{
    z-index: 9;
    left:18rem;
    top:-1rem;
    animation-name: cubeAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes cubeAnimation{
    0%{
        transform: rotateY(0deg) translateY(0px);
    }
    50%{
        transform: rotateY(180deg) translateY(-12px);
    }
    100%{
    transform: rotateY(0deg) translateY(0px);
}
  }
  .icon-zigzag{
    z-index:9;
    left: -1rem;
    animation-name: zigzagAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes zigzagAnimation{
   
    50%{ 
       top: 3%;
       left: 3%;
    }
  }

  .icon-circle{
    z-index:9;
    top: 24rem;
    animation-name: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes circle{
    0%{
        transform: translateY(0px);
      
    }
    50%{
        transform: translateY(10px);
        transform: translateX(20px);
      
    }
    100%{
    transform: translateY(0px);
    
  }  
}

  .icon-plus{
    z-index:9;
    left: 10rem;
    top: -1rem;
    animation-name: plusAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes plusAnimation{
    0%{
        transform: translateY(0px);
        transform: translateX(0px);
    }
    50%{
        transform: translateY(-15px);
        transform: translateX(-25px);
    }
    100%{
    transform: translateY(0px);
    transform: translateX(0px);
}
  }  
/* ----HERO SECTION ENDS------ */

/*------PROJECT SECTION-------*/

.project-section{
  background-color:rgb(231, 231, 231);
  margin-top: 4rem;
}

.page-header{
  color:var(--bgOrange);
  font-size: 90px;
  text-align: center;
  padding-top: 30px;
}
.project-container{
  max-width: 1200px;
  margin:0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.projectCard{
width: 95%;
height: 600px;
background-size: cover;
position: relative;
box-shadow: 0px 0px 40px #1f1f1f;
}

#project1 {
  background-image: url(./Images/projects/Project1.png);
  right: 5%;
}

#project2 {
  background-image: url(./Images/projects/Project2.png);
  left: 5%;
}

#project3 {
  background-image: url(./Images/projects/Project3.png);
  right: 5%;
}

#project4 {
  background-image: url(./Images/projects/Project4.png);
  left: 5%;
}
.projectCard::before{
 
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  z-index: 1;
  /* background-color: #1f1f1f; */
  transition: 0.5s all;
  transform-origin: left;
  transform: scaleX(0);
  
}
.projectCard:hover::before {
  transform: scaleX(1);
}
.projectCard::after{
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  background-color: #1f1f1f9a;
}

.projectNumber {
 position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: #fff;
    display: none;
    z-index: 10;
    transition: 0.8s;
}

.rightNumber{
  top: -3rem;
  right: -3rem;
}
.leftNumber{
  top: -3rem;
  left: -3rem;
}
.projectContent {
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  color: white;
}
.projectSkillsContainer{
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 1em;
}
.projectSkill{
  width:3rem;
}
.projectHeading{
  font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
    
}
.projectSubheading{
  font-size: 16px;
    font-style: italic;
    width: 70%;
}
.projectCard:hover .projectNumber {
  display: block;
}
.leftProjectContent{
  top: 20%;
}
.rightProjectContent{
  right: 5%;
  top: 20%;
}
.projectCard:hover .projectContent {
  transform: scale(1.1);
}
/*button*/

.btnGroup {
  display: flex; 
   gap: 0.9rem; 
   align-items: center;
  
}

.btnGroup .btnProject {
  border: none;
  outline: none;
  
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}

.icon:hover {
  color: #e84949;
}

/*------PROJECT SECTION ENDS-------*/

/*------SKILLS SECTION-------*/
.Skills{
position: relative;
padding: 5rem;
margin: 8rem auto;
gap: 30px;
display: flex;

}

.leftskill{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
}
.rightskill{
  position: relative;
  display: flex;
 width: 50%;
gap: 3rem;
flex-wrap: wrap;
justify-content: center;
}
.skillFadedText{
  font-size: 12em;
  color: rgb(231, 231, 231);
  position: absolute;
  bottom: -28%;
  /* left: 65%; */
  margin-left: 60%;
  user-select: none;
}
.skillsLogo {
  width: 80px;
  transition: all 0.5s;
}
.skillsLogo:hover{
  transform: scale(1.2);
}

.skillheading {
  color: #e84949;
  font-weight: 700;
  font-size: 55px;
  line-height: 50px;
}

.skillheading span {
  font-size: 95px;
}

.skillsubheading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}
.skillsubheading p {
  font-weight: 400;
  font-size: large;
  margin: 2rem 0;
}
.blobStyle{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 animation: blobAnimation 3s linear infinite;
 z-index: -2;
}
@keyframes blobAnimation{
  50%{
    top: 54%;
    left: 56%;
  }
}

/*------SKILLS SECTION ENDS-------*/

/*------- CONTACT ME SECTION----- */

.contactMe{
  width: 100%;
  background-color: rgb(231,231,231);
  margin-top: 10.5rem;
  position: relative;

}
.contactContainer{
 
  width: 1200px;
}
.contactHead{
  font-size: 5em;
  color: #e84949;
  padding-top: 2rem;
  padding-left: 3rem;
  text-align: center;
}
.contactSubHead{
  font-size: 3rem;
  color: #343d68aa;
  text-transform: capitalize;
  margin-left: 3rem;
}
.formContainer{
  margin-top: 25px;
  width: 100%;
}
.contactForm{
  margin-left: 25%;
}
.form{
  gap: 1em;
  margin: 2rem 5rem;
}
.formField{
  width: 80%;
  height: 42px;
  padding: 0 2rem;
  font-size: 18px;
  box-shadow: 4px 4px 4px #1f1f1f;
  border: none;
  margin: 17px;
}

.formField-textarea{
  height: auto;
  padding-top: 1rem ;
}
#submit-btn{
  border: none;
  margin-left: 16rem;
  margin-bottom: 3rem;
}
#submit-btn:hover{
  scale: 0.9;
}
#submit-icon{
  padding: 0.1rem;
  font-size: 1.5rem;
}

/*------- CONTACT ME SECTION ENDS----- */ 

/* ----------FOOTER---------- */
footer{
 position: relative;

 background-color: #343d68;
padding: 5rem;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
}
.footLink{
  display: flex;
  gap: 1.2rem;
}
.fadedText{
  font-size: 4rem;
  position: absolute;
  left: 1rem;
  bottom: 0rem;
  user-select: none;
  color:#535c87;
}
.footLink div a {
  color: white;
  text-decoration: none;
  transition: all 0.6s;
}

.footLink div a:hover{
  color: #e84949;
}

.footIcon{
  display: flex;
  gap: 1rem;
}