.new-product_controls {
    display: grid;
    flex-wrap: wrap;
    gap: 0.5rem;
    text-align: left;
    background-color: blueviolet;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .new-product_control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-product_control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .new-product_button {
    text-align: right;
    margin-left: 50%;
  }
  .main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  